.container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: var(--padding-lg) var(--padding-sm) var(--padding-sm) var(--padding-sm);
    height: calc(100svh - 10em);
    overflow-x: hidden;
    overflow-y: auto;
}