.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: var(--indigo-900);
    z-index: 10;
    width: 100svw;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.35em 0.5em;
    border-radius: 0.25em;
    color: var(--indigo-100);
    border: 1px dashed var(--indigo-400);
    font-weight: 600;

    &-icon {
        font-size: 1.2em;
        stroke-width: 3;
        font-weight: 600;
    }

    &-name {
        font-size: 1em;
        font-weight: 700;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
    background-color: var();

    &-name {
        color: var(--surface-b);
    }

    &-avatar {
        width: 2em;
        height: 2em;
        border-radius: var(--border-radius-full);
    }
}