.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: var(--padding-none);
    height: calc(100svh - 5em);
}

.menu {
    position: static;
    top: 3em;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100svh - 10.25em);
    padding: var(--padding-none) var(--padding-sm);
}