<footer class="options">
  <button class="button button-add">
    <i class="pi pi-file-edit button-icon"></i>
    <span class="button-text">Create Task</span>
  </button>
  <button class="button button-add">
    <i class="pi pi-plus button-icon"></i>
    <span class="button-text">ToDo</span>
  </button>
  <button class="button button-add">
    <i class="pi pi-search button-icon"></i>
    <span class="button-text">Search</span>
  </button>
  <button class="button button-add">
    <i class="pi pi-calendar button-icon"></i>
    <span class="button-text">Calendar</span>
  </button>
</footer>
