<footer class="options">
  <button class="button">
    <i class="pi pi-clock button-icon"></i>
    <span class="button-text">Today</span>
  </button>
  <button class="button">
    <i class="pi pi-calendar button-icon"></i>
    <span class="button-text">Calendar</span>
  </button>
  <button class="button-add" (click)="handlerViewModal()">
    <i class="pi pi-plus button-add-icon"></i>
  </button>
  <button class="button">
    <i class="pi pi-search button-icon"></i>
    <span class="button-text">Search</span>
  </button>
  <button class="button">
    <i class="pi pi-user button-icon"></i>
    <span class="button-text">Profile</span>
  </button>
</footer>
<p-dialog class="dialog" [modal]="true" [(visible)]="viewModal" header="New task">
  <app-taskform></app-taskform>
</p-dialog>
