.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 80svw;
    max-width: 500px;
    min-height: 55svh;
    height: 80svh;

    &_input {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    &_button {
        position: fixed;
        bottom: 1.5em;
        right: 1.25em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1em;
    }
}

.label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-600);
}